.th, .td {
   padding: 5px;
}
.th {
   background-color: rgb(219, 219, 219);
}
.tr:hover {
   background-color: rgb(233, 233, 233);
}
.td > img {
   height: 40px;
   width: 40px;
   object-fit: cover;
   object-position: center;
   border-radius: 5px ;
   overflow: hidden;
   margin: auto;
}