.th, .td {
   padding: 5px;
}
.th {
   background-color: rgba(148, 148, 148, 0.2);
}
.tr:hover {
   background-color: rgb(126, 126, 126, .2);
}
.td > img {
   height: 40px;
   width: 40px;
   object-fit: cover;
   object-position: center;
   border-radius: 5px ;
   overflow: hidden;
   margin: auto;
}